add:
<br><b>msg=mesaj</b>
<br>title=başlık
<br>token=doğrulama kodu
<br>num=not numarası
<br><br><b>del:</b>
<br>num=not numarası
<br>token=doğrulama numarası
<br><br><b>get:</b>
<br>token=doğrulama numarası
<br><br><br><b>get metodu atılacak. get çıktısı rss formattadır.var olan mesajı tekrar eklemey çalışırsanız üstüne yazar.</b>